<a href="https://colab.research.google.com/github/fahimabrar/Machine-Learning/blob/main/Supervised%20Learning/Classification/C_DecisionTRee_Random_Forest_KNN_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Let's be introduced to the dataset, 

This dataset contains Students academic performance data, gender, work expericence and if they can secure a  placemnet or not.

## Problem we are trying to solve,
- We wil try to predict if a student get Placed or Not placed based on his/her data
- So, this is a classificaiton problem

### we will remove two columns, as
- A student who doesnot get placement has no info about salary (as easy as that), so we will remove the **salary** column so that the model does not overfit

- And the **sl_no** column

In [32]:
#This notebook only contains pyton implementation of Clasifications algorithms, Codes are explained. Theory is not covered.

In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame(pd.read_csv("https://raw.githubusercontent.com/fahimabrar/Machine-Learning/main/data/Placement_Data_Full_Class.csv"))

In [3]:
data.head()

   sl_no gender  ssc_p    ssc_b  ...  specialisation  mba_p      status    salary
0      1      M  67.00   Others  ...          Mkt&HR  58.80      Placed  270000.0
1      2      M  79.33  Central  ...         Mkt&Fin  66.28      Placed  200000.0
2      3      M  65.00  Central  ...         Mkt&Fin  57.80      Placed  250000.0
3      4      M  56.00  Central  ...          Mkt&HR  59.43  Not Placed       NaN
4      5      M  85.80  Central  ...         Mkt&Fin  55.50      Placed  425000.0

[5 rows x 15 columns]

In [4]:
data.describe()

            sl_no       ssc_p  ...       mba_p         salary
count  215.000000  215.000000  ...  215.000000     148.000000
mean   108.000000   67.303395  ...   62.278186  288655.405405
std     62.209324   10.827205  ...    5.833385   93457.452420
min      1.000000   40.890000  ...   51.210000  200000.000000
25%     54.500000   60.600000  ...   57.945000  240000.000000
50%    108.000000   67.000000  ...   62.000000  265000.000000
75%    161.500000   75.700000  ...   66.255000  300000.000000
max    215.000000   89.400000  ...   77.890000  940000.000000

[8 rows x 7 columns]

In [7]:
data.isnull().any()

# we donot have that much null values
# we have null values in salary, as the students who donot get palcement have no salary value
# we wil remove salary column as it wil make the model overfit

sl_no             False
gender            False
ssc_p             False
ssc_b             False
hsc_p             False
hsc_b             False
hsc_s             False
degree_p          False
degree_t          False
workex            False
etest_p           False
specialisation    False
mba_p             False
status            False
salary             True
dtype: bool

In [9]:
data[data.salary.isnull()]
#the students who donot get the placement have nan on their salary column. we will remove this column

     sl_no gender  ssc_p    ssc_b  ...  specialisation  mba_p      status  salary
3        4      M   56.0  Central  ...          Mkt&HR  59.43  Not Placed     NaN
5        6      M   55.0   Others  ...         Mkt&Fin  51.58  Not Placed     NaN
6        7      F   46.0   Others  ...         Mkt&Fin  53.29  Not Placed     NaN
9       10      M   58.0  Central  ...         Mkt&Fin  52.21  Not Placed     NaN
12      13      F   47.0  Central  ...          Mkt&HR  65.04  Not Placed     NaN
..     ...    ...    ...      ...  ...             ...    ...         ...     ...
198    199      F   67.0  Central  ...          Mkt&HR  71.96  Not Placed     NaN
201    202      M   54.2  Central  ...          Mkt&HR  58.44  Not Placed     NaN
206    207      M   41.0  Central  ...         Mkt&Fin  53.39  Not Placed     NaN
208    209      F   43.0  Central  ...          Mkt&HR  62.92  Not Placed     NaN
214    215      M   62.0  Central  ...          Mkt&HR  60.22  Not Placed     NaN

[67 rows x 15 columns]

In [10]:
X = data.drop(columns=["status", "salary", "sl_no"])
# Removed satus column form indepedent (X) variables, we will try to predict the status (Placed or not placed) 
y = data.status

In [11]:
X.columns

Index(['gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s', 'degree_p',
       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p'],
      dtype='object')

In [12]:
y

0          Placed
1          Placed
2          Placed
3      Not Placed
4          Placed
          ...
210        Placed
211        Placed
212        Placed
213        Placed
214    Not Placed
Name: status, Length: 215, dtype: object

# we have lots of categorical values. As compuer donot understand anything rather number, we will encode all the categorical values

we will can use scikit learn label encoder, or we can map the values manually

In [14]:
mapped_y=y.map({"Placed":1, "Not Placed":0})

In [15]:
mapped_y

0      1
1      1
2      1
3      0
4      1
      ..
210    1
211    1
212    1
213    1
214    0
Name: status, Length: 215, dtype: int64

In [16]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

encoded_y = le.fit_transform(y)

In [17]:
encoded_y

array([1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [18]:
X.head()

  gender  ssc_p    ssc_b  hsc_p  ... workex etest_p  specialisation  mba_p
0      M  67.00   Others  91.00  ...     No    55.0          Mkt&HR  58.80
1      M  79.33  Central  78.33  ...    Yes    86.5         Mkt&Fin  66.28
2      M  65.00  Central  68.00  ...     No    75.0         Mkt&Fin  57.80
3      M  56.00  Central  52.00  ...     No    66.0          Mkt&HR  59.43
4      M  85.80  Central  73.60  ...     No    96.8         Mkt&Fin  55.50

[5 rows x 12 columns]

In [19]:
# And we will also convert the categorical values from X (indepeendant vaialbles) to Encoded numeric values

X["gender"] = le.fit_transform(X['gender'])
X["ssc_b"] = le.fit_transform(X["ssc_b"])
X['hsc_b'] = le.fit_transform(X['hsc_b'])
X['hsc_s'] =  le.fit_transform(X['hsc_s'])
X['degree_t'] = le.fit_transform( X['degree_t'])
X['workex'] = le.fit_transform(X['workex'])
X['specialisation'] = le.fit_transform(X['specialisation'])

In [20]:
X.head()

   gender  ssc_p  ssc_b  hsc_p  ...  workex  etest_p  specialisation  mba_p
0       1  67.00      1  91.00  ...       0     55.0               1  58.80
1       1  79.33      0  78.33  ...       1     86.5               0  66.28
2       1  65.00      0  68.00  ...       0     75.0               0  57.80
3       1  56.00      0  52.00  ...       0     66.0               1  59.43
4       1  85.80      0  73.60  ...       0     96.8               0  55.50

[5 rows x 12 columns]

## Spliting the dataset into Train and test set..

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, encoded_y, test_size=0.3, random_state=42)

# values will be assigned into above four varialbes
# Splitted Train - Test : 70% - 30%
# random state is assigned (any arbritary number), so that other person can get the same result

In [22]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(150, 12)
(65, 12)
(150,)
(65,)

# Decision Tree

In [23]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()

clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
from sklearn import tree
tree.plot_tree(clf)

In [24]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
y_pred = clf.predict(X_test)
# model predicting (placed/not placed) from the test dataset
accuracy_score(y_test, y_pred)

0.8153846153846154

In [26]:
confusion_matrix(y_test, y_pred)


# stucture of confusion matix is

# [ True positive , False positive]
# [False Negative , True Negative]

array([[14,  7],
       [ 5, 39]])

# Random Forest

In [29]:
from sklearn.ensemble import RandomForestClassifier

clf2 =RandomForestClassifier(n_estimators=1000, random_state= 43)

# more at, https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

clf2.fit(X_train, y_train)

y_pred = clf2.predict(X_test)
print("Accuracy is ", accuracy_score(y_test, y_pred))


confusion_matrix(y_test, y_pred)

Accuracy is  0.8

array([[10, 11],
       [ 2, 42]])

# K Nearest Neighbour (KNN)

In [31]:
from sklearn.neighbors import KNeighborsClassifier

# Lets define models with different neighbours

for i in range(1,11):
  neigh = KNeighborsClassifier(n_neighbors=i)
  neigh.fit(X_train, y_train)

  y_pred = neigh.predict(X_test)
  print("n_Neighbour = " + str(i) + " Accuracy = " + str(accuracy_score(y_test, y_pred)))

n_Neighbour = 1 Accuracy = 0.7384615384615385
n_Neighbour = 2 Accuracy = 0.7230769230769231
n_Neighbour = 3 Accuracy = 0.7538461538461538
n_Neighbour = 4 Accuracy = 0.7538461538461538
n_Neighbour = 5 Accuracy = 0.7846153846153846
n_Neighbour = 6 Accuracy = 0.7538461538461538
n_Neighbour = 7 Accuracy = 0.8
n_Neighbour = 8 Accuracy = 0.7538461538461538
n_Neighbour = 9 Accuracy = 0.8
n_Neighbour = 10 Accuracy = 0.7538461538461538

### We tried with different hyperparameter with for loop, this things can be done with GridsearhCV, randomsizedCV, two popular methods, I implemented these in this repository,
#####  https://github.com/fahimabrar/Hyperparameter_Tuning

# Support Vector Machine

### I tried with only two karnels (linear and radial based), and other hyperparameters are defautls

### you can play with different kernels (e.g. polynomial) and hyperparameters (n values, c values etc). More at, https://scikit-learn.org/stable/modules/svm.html

In [ ]:
from sklearn import svm
svc = svm.SVC(kernel='linear')

svc.fit(X_train, y_train)

y_pred = svc.predict(X_test)
print(accuracy_score(y_test, y_pred))


confusion_matrix(y_test, y_pred)

0.8461538461538461

array([[15,  6],
       [ 4, 40]])

In [ ]:
svc = svm.SVC(kernel='rbf')

svc.fit(X_train, y_train)

y_pred = svc.predict(X_test)
print(accuracy_score(y_test, y_pred))


confusion_matrix(y_test, y_pred)

0.7846153846153846

array([[ 9, 12],
       [ 2, 42]])