<a href="https://colab.research.google.com/github/fahimabrar/Machine-Learning/blob/main/Supervised%20Learning/Regression/Regression_(DecisionTRee%2CRandom_Forest%2CKNN%2CSVM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## With the same student dataset lets formulate the problem in a regresssion manner/ 

## Problem we are trying to solve,

- We wil try to predict students salary, who get placed

In [83]:
import pandas as pd

In [84]:
data = pd.DataFrame(pd.read_csv("https://raw.githubusercontent.com/fahimabrar/Machine-Learning/main/data/Placement_Data_Full_Class.csv"))

In [85]:
data.head()

   sl_no gender  ssc_p    ssc_b  ...  specialisation  mba_p      status    salary
0      1      M  67.00   Others  ...          Mkt&HR  58.80      Placed  270000.0
1      2      M  79.33  Central  ...         Mkt&Fin  66.28      Placed  200000.0
2      3      M  65.00  Central  ...         Mkt&Fin  57.80      Placed  250000.0
3      4      M  56.00  Central  ...          Mkt&HR  59.43  Not Placed       NaN
4      5      M  85.80  Central  ...         Mkt&Fin  55.50      Placed  425000.0

[5 rows x 15 columns]

In [86]:
data = data.dropna()
#the students who donot get the placement have nan on their salary column. we will remove this column

In [87]:
print(data.shape)

(148, 15)

In [88]:
data = data.drop(columns=["sl_no", "status"])

In [89]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()


data["gender"] = le.fit_transform(data['gender'])
data["ssc_b"] = le.fit_transform(data["ssc_b"])
data['hsc_b'] = le.fit_transform(data['hsc_b'])
data['hsc_s'] =  le.fit_transform(data['hsc_s'])
data['degree_t'] = le.fit_transform( data['degree_t'])
data['workex'] = le.fit_transform(data['workex'])
data['specialisation'] = le.fit_transform(data['specialisation'])

In [90]:
data.head()

   gender  ssc_p  ssc_b  hsc_p  ...  etest_p  specialisation  mba_p    salary
0       1  67.00      1  91.00  ...     55.0               1  58.80  270000.0
1       1  79.33      0  78.33  ...     86.5               0  66.28  200000.0
2       1  65.00      0  68.00  ...     75.0               0  57.80  250000.0
4       1  85.80      0  73.60  ...     96.8               0  55.50  425000.0
7       1  82.00      0  64.00  ...     67.0               0  62.14  252000.0

[5 rows x 13 columns]

In [91]:
from sklearn import preprocessing
x = data.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
data_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(data_scaled)

## Why we scaled this data, 

If we look at the salary column and gender column we can see both are in very different range. FOr computer "salary" and "gender" in column name doesnt carry any special meaning. If we scale the data all the column will be in the same scale, it will make the model robust. 

You can run the code without scaling, and will see how worst an regression algorithm can be

In [92]:
df.head()

    0         1    2         3    4   ...   8         9    10        11        12
0  1.0  0.445545  1.0  0.857051  1.0  ...  0.0  0.104167  1.0  0.251666  0.094595
1  1.0  0.750743  0.0  0.586729  1.0  ...  1.0  0.760417  0.0  0.544884  0.000000
2  1.0  0.396040  0.0  0.366332  0.0  ...  0.0  0.520833  0.0  0.212466  0.067568
3  1.0  0.910891  0.0  0.485812  0.0  ...  0.0  0.975000  0.0  0.122305  0.304054
4  1.0  0.816832  0.0  0.280990  0.0  ...  1.0  0.354167  0.0  0.382595  0.070270

[5 rows x 13 columns]

In [94]:
df.columns = data.columns

In [95]:
df.head()

   gender     ssc_p  ssc_b  ...  specialisation     mba_p    salary
0     1.0  0.445545    1.0  ...             1.0  0.251666  0.094595
1     1.0  0.750743    0.0  ...             0.0  0.544884  0.000000
2     1.0  0.396040    0.0  ...             0.0  0.212466  0.067568
3     1.0  0.910891    0.0  ...             0.0  0.122305  0.304054
4     1.0  0.816832    0.0  ...             0.0  0.382595  0.070270

[5 rows x 13 columns]

In [96]:

X = df.drop(columns= ["salary"])
y = df.salary

## Spliting the dataset into Train and test set..

In [98]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42)

# values will be assigned into above four varialbes
# Splitted Train - Test : 70% - 30%
# random state is assigned (any arbritary number), so that other person can get the same result

In [99]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(118, 12)
(30, 12)
(118,)
(30,)

# Decision Tree

In [101]:
from sklearn import tree
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

reg = tree.DecisionTreeRegressor()
reg.fit(X_train, y_train)

DecisionTreeRegressor()

In [102]:
from sklearn.metrics import mean_squared_error
y_pred = reg.predict(X_test)
# model predicting (placed/not placed) from the test dataset
mean_squared_error(y_test, y_pred)

0.02982395909422936

# Random Forest

In [103]:
from sklearn.ensemble import RandomForestRegressor

rf =RandomForestRegressor(n_estimators=1000, random_state= 43)

rf.fit(X_train, y_train)

y_pred = rf.predict(X_test)
print("MSE is ", mean_squared_error(y_test, y_pred))

MSE is  0.01977094310147317

# K Nearest Neighbour (KNN)

In [104]:
from sklearn.neighbors import KNeighborsRegressor

# Lets define models with different neighbours

for i in range(1,11):
  neigh = KNeighborsRegressor(n_neighbors=i)
  neigh.fit(X_train, y_train)

  y_pred = neigh.predict(X_test)
  print("n_Neighbour = " + str(i) + " MSE = " + str(mean_squared_error(y_test, y_pred)))

n_Neighbour = 1 MSE = 0.07946712929145358
n_Neighbour = 2 MSE = 0.04524260409057706
n_Neighbour = 3 MSE = 0.026532126721315906
n_Neighbour = 4 MSE = 0.02213271548575602
n_Neighbour = 5 MSE = 0.01955461894326759
n_Neighbour = 6 MSE = 0.0189632521034548
n_Neighbour = 7 MSE = 0.018054965887012216
n_Neighbour = 8 MSE = 0.017406587647613825
n_Neighbour = 9 MSE = 0.016623093063033004
n_Neighbour = 10 MSE = 0.015211414049184318

# Support Vector Machine

### I tried with only two karnels (linear and radial based), and other hyperparameters are defautls

### you can play with different kernels (e.g. polynomial) and hyperparameters (n values, c values etc). More at, https://scikit-learn.org/stable/modules/svm.html

In [105]:
from sklearn.svm import SVR

svr = make_pipeline(StandardScaler(), SVR(kernel = 'rbf', C=1.0, epsilon=0.1))
svr.fit(X_train, y_train)
y_pred = svr.predict(X_test)
y_true = y_test
mean_squared_error(y_true, y_pred)

0.020093676821704147

In [106]:
svr = make_pipeline(StandardScaler(), SVR(kernel = 'linear', C=1.0, epsilon=0.1))
svr.fit(X_train, y_train)
y_pred = svr.predict(X_test)
y_true = y_test
mean_squared_error(y_true, y_pred)

0.0189492831700711

# Polynomial kernel with degree 2

In [107]:
svr = make_pipeline(StandardScaler(), SVR(kernel = 'poly', degree =2))
svr.fit(X_train, y_train)
y_pred = svr.predict(X_test)
y_true = y_test
mean_squared_error(y_true, y_pred)

0.012548640697016333

# With five fold cross validation

In [114]:
from sklearn.model_selection import cross_validate as CV
from sklearn.model_selection import cross_val_score

scores = cross_val_score(svr, X_train, y_train, scoring='neg_mean_squared_error', cv=5)
#There is nothing like mean squared error in cross_val_scoore function, so we calculted negative meansquared error and multiplied it with negative one later
scores*-1

array([0.0166966 , 0.01163628, 0.0424903 , 0.0217911 , 0.00477176])